@page
@model Webpage.Pages.Admin.Administer_Posts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Posts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Posts.UserIdx" class="control-label"></label>
                <select asp-for="Posts.UserIdx" class ="form-control" asp-items="ViewBag.UserIdx"></select>
            </div>
            <div class="form-group">
                <label asp-for="Posts.ModifiedOn" class="control-label"></label>
                <input asp-for="Posts.ModifiedOn" class="form-control" />
                <span asp-validation-for="Posts.ModifiedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Posts.Subject" class="control-label"></label>
                <input asp-for="Posts.Subject" class="form-control" />
                <span asp-validation-for="Posts.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Posts.Content" class="control-label"></label>
                <input asp-for="Posts.Content" class="form-control" />
                <span asp-validation-for="Posts.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Posts.ParentIdx" class="control-label"></label>
                <select asp-for="Posts.ParentIdx" class ="form-control" asp-items="ViewBag.ParentIdx"></select>
            </div>
            <div class="form-group">
                <label asp-for="Posts.StartingOn" class="control-label"></label>
                <input asp-for="Posts.StartingOn" class="form-control" />
                <span asp-validation-for="Posts.StartingOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Posts.EndingOn" class="control-label"></label>
                <input asp-for="Posts.EndingOn" class="form-control" />
                <span asp-validation-for="Posts.EndingOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Posts.LocationIdx" class="control-label"></label>
                <select asp-for="Posts.LocationIdx" class ="form-control" asp-items="ViewBag.LocationIdx"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
