@page
@model Webpage.Pages.Admin.Administer_Posts.EditModel

@{
    ViewData["Title"] = "Edit Post";
}

<head>
    <link rel="stylesheet" href="~/css/admin.css" />
</head>

<h1>Edit Post</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Posts.Idx" />
            <div class="form-group">
                <label asp-for="Posts.Subject" class="control-label bold-text"></label>
                <input asp-for="Posts.Subject" class="form-control" />
                <span asp-validation-for="Posts.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Posts.Content" class="control-label bold-text"></label>
                <input asp-for="Posts.Content" class="form-control" />
                <span asp-validation-for="Posts.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Posts.StartingOn" class="control-label bold-text">Start Date</label>
                <input asp-for="Posts.StartingOn" class="form-control" />
                <span asp-validation-for="Posts.StartingOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Posts.EndingOn" class="control-label bold-text">End Date</label>
                <input asp-for="Posts.EndingOn" class="form-control" />
                <span asp-validation-for="Posts.EndingOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Posts.LocationIdx" class="control-label bold-text">Area Code</label>
                <select asp-for="Posts.LocationIdx" class="form-control" asp-items="ViewBag.LocationIdx"></select>
                <span asp-validation-for="Posts.LocationIdx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to Posts Created</a>
</div>
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
