@page
@model Webpage.Pages.Admin.IndexModel
@{
}


<div class="menu-links navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Administer_Messages/index">Messages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Administer_Posts/index">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Administer_Users/index">Users</a>
        </li>
    </ul>
</div>