@page
@model Webpage.Pages.Profile.ProfileModel
@{
    ViewData["Title"] = "Profile Page";
}


<h1>Profile</h1>
<h1>@Html.DisplayNameFor(model => model.Users[0].Idx)</h1>
<h5>Change Passord</h5>
    <button type="submit" name="showBox" value="Change">
        <p>Change</p>
    </button>


