@page
@model Webpage.Pages.Profile.SecondProfileModel
@{
    ViewData["Title"] = "Your Profile";
}

<head>
    <link rel="stylesheet" href="~/css/profile.css" />
</head>

<div class="profile-container">
    <form id="profile-form" method="post">
        <h2>Your Profile</h2>

        <h3>Personal Details</h3>
        <label>Full Name</label>
        <input type="text" name="fullName" placeholder="Enter full name here..." />

        <label>Age</label>
        <input type="number" name="age" placeholder="0" />

        <label>Mobile</label>
        <input type="text" name="mobile" placeholder="0000 000 000" />

        <h3>Location</h3>
        <label>Area Code</label>
        <input type="text" name="location" placeholder="0000" />

        <label>Country</label>
        <input type="text" name="country" placeholder="Enter country here..." />

        <label>Location Caption</label>
        <input type="text" name="locationCaption" placeholder="Enter location caption here..." />

        <label>Location Description</label>
        <input type="text" name="locationDescription" placeholder="Enter location description here..." />

        <label>Location State</label>
        <input type="text" name="locationState" placeholder="Enter location state here..." />

        <div>
            <button type="submit" class="animated-btn">
                <span>Create account</span>
            </button>
        </div>
        <br />
    </form>
</div>