@page
@model Webpage.Pages.Admin.Administer_Users.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Users</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Users.Idx" />
            <div class="form-group">
                <label asp-for="Users.Email" class="control-label"></label>
                <input asp-for="Users.Email" class="form-control" />
                <span asp-validation-for="Users.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.FullName" class="control-label"></label>
                <input asp-for="Users.FullName" class="form-control" />
                <span asp-validation-for="Users.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.Age" class="control-label"></label>
                <input asp-for="Users.Age" class="form-control" />
                <span asp-validation-for="Users.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.LocationIdx" class="control-label"></label>
                <select asp-for="Users.LocationIdx" class="form-control" asp-items="ViewBag.LocationIdx"></select>
                <span asp-validation-for="Users.LocationIdx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.Mobile" class="control-label"></label>
                <input asp-for="Users.Mobile" class="form-control" />
                <span asp-validation-for="Users.Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.IsAdmin" class="control-label"></label>
                <input asp-for="Users.IsAdmin" class="form-control" />
                <span asp-validation-for="Users.IsAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
