body {
    font-family: "Open Sans";
}

.feed-container h3,
.uploader-name {
    font-family: "Open Sans Bold";
}

.post-container {
    border: 1px solid var(--colour-gallery);
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 15px;
}

.post-img {
    float: right;
    background-size: cover;
    border-radius: 5px;
    width: 40%;
}

.ending-date {
    display: inline-block;
    margin-left: 18.5px;
    margin-bottom: 10px;
}

.categories-container {
    display: block;
}

.category {
    background-color: var(--colour-mercury);
    border: 0;
    border-radius: 50px;
    margin-top: 10px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
}

.send-msg-btn-container {
    margin-top: 25px;
    margin-bottom: 20px;
}

.send-msg-btn {
    background-color: var(--colour-tulip-tree);
    color: var(--colour-white) !important;
    border-radius: 5px;
    width: 30%;
    padding: 10px;
    text-align: center;
}

.send-msg-btn:hover {
    background-color: var(--colour-cream-can);
    color: var(--colour-white);
}

.post-rating {
    font-family: "Open Sans Bold";
}