#NewPostForm {
    margin-left: 28%;
    width: 100%;
}

.field-labels {
    font-family: "Open Sans Bold";
    margin-top: 20px;
    margin-bottom: 5px;
}

.fields,
.fields-textarea {
    height: 35px;
    width: 50%;
    margin-bottom: 10px;
}

.fields-textarea {
    height: 120px;
    padding-top: 5px;
    padding-left: 2px;
}

.category-heading {
    font-family: "Open Sans Bold";
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
}

.category-items {
    width: 50%;
}

.category-label {
    border: 1px solid var(--colour-tulip-tree);
    border-radius: 25px;
    text-align: center;
    margin-top: 5px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.4s;
}

.category-checkbox {
    display: none;
}

.category-checkbox:checked + .category-label {
    background-color: var(--colour-tulip-tree);
    color: var(--colour-white);
}