/* Fonts */
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Open Sans Light";
    src: url(../fonts/OpenSans-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Open Sans Bold";
    src: url(../fonts/OpenSans-Bold.ttf) format("truetype");
}

/* Colours */
:root {
    --colour-white: #FFFFFF;
    --colour-gallery: #ECECEC;
    --colour-mercury: #E5E5E5;
    --colour-cream-can: #F5D061;
    --colour-tulip-tree: #E6AF2E;
    --colour-ebony-clay: #282F44;
}

/* General */
body {
    font-family: "Open Sans";
}

p {
    font-size: 1.2rem;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: var(--colour-tulip-tree) !important;
}

a:hover {
  color: var(--colour-cream-can);
}

.small-text {
    font-size: 0.9rem;
}

.btn-primary {
  color: var(--colour-white);
  background-color: var(--colour-tulip-tree);
  border-color: var(--colour-tulip-tree);
  transition: 0.5s;
}

.btn-primary:hover {
    background-color: var(--colour-cream-can);
    border-color: var(--colour-cream-can);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--colour-white);
  background-color: var(--colour-cream-can);
  border-color: var(--colour-tulip-tree);
}

.animated-btn {
    background-color: var(--colour-tulip-tree);
    color: var(--colour-white);
    border: 0;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 50px;
    margin-bottom: 35px;
    padding: 0.8rem;
    width: 300px;
    transition: all 0.5s;
}

.animated-btn span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.animated-btn span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.animated-btn:hover span {
    color: var(--colour-white);
    padding-right: 25px;
}

.animated-btn:hover span:after {
    opacity: 1;
    right: 0;
}

.regular-btn {
    color: var(--colour-white) !important;
    background-color: var(--colour-tulip-tree);
    border: 0;
    border-radius: 5px;
    margin-left: 8px;
    padding: 10px;
    transition: 0.5s;
}

.regular-btn:hover {
    color: var(--colour-white);
    background-color: var(--colour-cream-can);
}

.login-status {
    width: 500px;
}

.login-status span {
    font-size: 1.2rem;
    margin-left: 5px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid var(--colour-mercury);
}

.border-bottom {
  border-bottom: 1px solid var(--colour-mercury);
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


--- Custom
.left-alignment {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Navigation */
@media (min-width: 1280px) {
    .menu-links {
        font-size: 1.2rem;
        margin-left: 30px;
    }
}