@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>

@*Debug checker if user is logged in  *@
@if (User.Identity.IsAuthenticated)
{
<div>
    Hello, @User.Identity.Name
</div>
}


<div class="home-container">

    <img class="home-image" src="~/images/people-gathering.jpg" alt="People gathering" />

    <div class="home-text">
        <h2>Welcome to Golden Times</h2>
        <p>Golden Times is a platform where people over the age of 60 can enjoy activites and interact with others who have similar interests and are around their age.</p>
        <p class="small-text">Photo by <a href="https://unsplash.com/leahhetteberg">leah hetteberg</a> on <a href="https://unsplash.com/">Unsplash</a>.</p>
    </div>



</div>