@page
@model PrivacyModel
@{
    ViewData["Title"] = "Golden Times Privacy Policy";
}

<head>
    <link rel="stylesheet" href="~/css/privacy.css" />
</head>

<h1>@ViewData["Title"]</h1>

<p>
    Here at Golden Times, we take our responsibilities seriously
    especially when those responsibilities relate to the privacy
    of our customers. In the course of Golden Times’ business
    operations, it is necessary to collect information from customers.
</p>

<p>
    When Golden Times collects information from users, we ensure that
    the Australian Privacy Principals (APPs) contained in the privacy
    Act 1988 are strictly adhered to.
</p>

<h2>Collection of solicited personal information </h2>

<p>
    During business operations, Golden Times only collects information
    that is relevant to Golden Times business process. All information
    collected has a clear and direct connection to Golden Times business
    functions.
</p>

<h2>Security of personal information </h2>

<p>
    Golden Times is committed to the security of personal information
    collected as part of our business operations. Any information collected
    by Golden Times, directly or indirectly, will be safeguarded against
    misuse. If information is no longer required by Golden Times, all
    reasonable steps will be made to destroy this information.
</p>

<p>
    In order to prevent unauthorised access or disclosure, Golden Times
    staff shall safeguard and secure information and protect it from
    misuse, interference, loss and unauthorised access, modification and
    disclosure. Our databases will remain secure, and direct access to
    this information protected, with the utilisation of secure passwords
    that will not be shared with anyone not authorised for access to these
    systems for business reasons.
</p>

<p>
    When destruction of personal information is required, it is done in
    such a way that the information is no longer retrievable. If printed
    copies of information exist, the preferred method for destroying them
    is shredding; however burning, pulping, pulverising and disintegration
    are also viable methods of destruction, as listed in section 11.33.
    Where the information is stored in data and destruction is not possible,
    it will be put beyond use.
</p>

<h2>Current legislation and guidelines:</h2>
<h2>Privacy Act 1988 </h2>

<p>
    This Act is the primary legislative document in Australian law dealing
    with privacy issues. The Australian Privacy Principals are a major part
    of the Act, and form a guide for how to adhere to the legislation. The
    principals ,or APPs as they are referred to, are as follows:
</p>

<h2>APP 1: Open and transparent management of personal information. </h2>
<h2>APP 2: Anonymity and pseudonymity. </h2>
<h2>APP 3: Collection of solicited personal information. </h2>
<h2>APP 4: Dealing with unsolicited information. </h2>
<h2>APP 5: Notification of the collection of personal information. </h2>
<h2>APP 6: Use or disclosure of personal information. </h2>
<h2>APP 7: Direct marketing. </h2>
<h2>APP 8: Cross-border disclosure of personal information. </h2>
<h2>APP 9: Adoption, use or disclosure of government related identifiers. </h2>
<h2>APP 10: Quality of personal information. </h2>
<h2>APP 11: Security of personal information. </h2>
<h2>APP 12: Access to personal information. </h2>
<h2>APP 13: Correction of personal information. </h2>

<br />