@page
@model Webpage.Pages.MessagePages.AddMessagesModel

@{
    ViewData["Title"] = "Create a Message";
}

<head>
    <link rel="stylesheet" href="~/css/messages.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>

<h1>Create a Messages</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Message.SenderIdx" class="control-label"></label>
                <input asp-for="Message.SenderIdx" class="form-control" />
                <span asp-validation-for="Message.SenderIdx" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="Message.ReceiverIdx" class="control-label"></label>
                <input asp-for="Message.ReceiverIdx" class="form-control" />
                <span asp-validation-for="Message.ReceiverIdx" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="Message.ModifiedOn" class="control-label"></label>
                <input asp-for="Message.ModifiedOn" class="form-control" />
                <span asp-validation-for="Message.ModifiedOn" class="text-danger"></span>
            </div>*@
            @if (Model._receivers.Count > 0)
            {
                <label for="rec">Recipient:</label>

                <select name="recip" id="rec">
                    @foreach (var r in Model._receivers)
                    {
                        <option value="@r"  selected=@(!string.IsNullOrEmpty(Model.prefilledOwner) && 
                                              Model.prefilledOwner == r)>@r</option>
                    }
                </select>
            }
            
            <div class="form-group">
                <label asp-for="Message.Subject" class="control-label"></label>
                    @if (!string.IsNullOrEmpty(Model.prefilledTitle))
                    {
                        <input asp-for="Message.Subject" class="form-control" value="@Model.prefilledTitle" />
                    }
                    else
                    {   
                        <input asp-for="Message.Subject" class="form-control" />
                    }
                <span asp-validation-for="Message.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message.Content" class="control-label"></label>
                <input asp-for="Message.Content" class="form-control" />
                <span asp-validation-for="Message.Content" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Message.ParentIdx" class="control-label"></label>
                <input asp-for="Message.ParentIdx" class="form-control" />
                <span asp-validation-for="Message.ParentIdx" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/MessagePages/ViewMessages">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


