@page
@model Webpage.Pages.Admin.Administer_Messages.EditModel

@{
    ViewData["Title"] = "Edit Message";
}

<head>
    <link rel="stylesheet" href="~/css/admin.css" />
</head>

<h1>Edit Message</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Messages.Idx" />
            <div class="form-group">
                <label asp-for="Messages.ReceiverIdx" class="control-label bold-text">Recipient Email</label>
                <select asp-for="Messages.ReceiverIdx" class="form-control" asp-items="ViewBag.ReceiverIdx"></select>
                <span asp-validation-for="Messages.ReceiverIdx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Messages.SenderIdx" class="control-label bold-text">Sender Email</label>
                <select asp-for="Messages.SenderIdx" class="form-control" asp-items="ViewBag.SenderIdx"></select>
                <span asp-validation-for="Messages.SenderIdx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Messages.ModifiedOn" class="control-label bold-text">Edited On</label>
                <input asp-for="Messages.ModifiedOn" class="form-control" />
                <span asp-validation-for="Messages.ModifiedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Messages.Subject" class="control-label bold-text"></label>
                <input asp-for="Messages.Subject" class="form-control" />
                <span asp-validation-for="Messages.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Messages.Content" class="control-label bold-text">Message</label>
                <input asp-for="Messages.Content" class="form-control" />
                <span asp-validation-for="Messages.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to Messages Sent</a>
</div>
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
